
// COLOR PALETTE
$clr1: #acbfa4;
$clr3: #305f72;
$clr2: #504658;
$clr4: #f0decb;
$clr5: #e2e8ce;
$clr6: #7c8a76;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;


